<div class="alain-default__content-title">
  <h1>
    ACL Controle de acesso
    <small
      >Veja o menu à esquerda；ACLService Forneça um serviço completo de controle de acesso baseado em função. Se
      precisar oferecer suporte a guardas de roteamento, coopere ACLService Com Route Guard. A cooperação é simples e
      fácil de implementar.</small
    >
  </h1>
</div>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="24">
    <nz-card nzTitle="按钮粒度">
      ACL Dados brutos：{{ aclSrv.data | json }}
      <button nz-button [acl]="'role-a'">role-a</button>
      <button nz-button [acl]="'role-b'" class="ml-sm">role-b</button>
    </nz-card>
  </div>
</div>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="全量">
      <button nz-button (click)="toggleFull()">
        <span>{{ full ? 'Sair' : 'Configuração' }}Permissão</span>
      </button>
      <p class="pt-md">A classe completa refere-se à função de administrador do sistema sem nenhuma restrição.</p>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="角色[role-a]">
      <button nz-button (click)="toggleRoleA()">
        <span>{{ roleA.length > 0 ? 'Sair' : 'Configuração' }}Permissão</span>
      </button>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="角色[role-b]">
      <button nz-button (click)="toggleRoleB()">
        <span>{{ roleB.length > 0 ? 'Sair' : 'Configuração' }}Permissão</span>
      </button>
    </nz-card>
  </div>
</div>
